<div class="col-md-4 card-style mr-2 mt-2" id="card<%= tarea.id %>">
	<div class="card <%= get_color_state(tarea.state)%>">

	  <div class="card-header">
	    <div class="row">
	    	<div class="col-md-7">
	    		<%= tarea.title %>
	    	</div>

	    	<div class="col-md-2">
	    		<%= get_state(tarea.state).html_safe %>
	    	</div>
	    </div>
	  </div>

	  <div class="card-body">
	    <p class="card-text"><%= tarea.body %></p>
	  </div>
	  <div class="modal-footer">
	  	<% if tarea.state == "Pendiente" %>
	  		<%= link_to "Realizada", update_task_path(tarea.id, "Realizada"), method: :post, remote: true, class: "btn btn-outline-success" %>
	  		<%= link_to "No realizada", update_task_path(tarea.id, "No realizada"), method: :post, remote: true, class: "btn btn-outline-danger" %>
	  	<% elsif tarea.state == "Importante" %>
			<%= link_to "Realizada", update_task_path(tarea.id, "Realizada"), method: :post, remote: true, class: "btn btn-outline-success" %>
	  		<%= link_to "No realizada", update_task_path(tarea.id, "No realizada"), method: :post, remote: true, class: "btn btn-outline-danger" %>
		<% elsif tarea.state == "Realizada" %>
	  		<button type="button" class="btn btn-outline-success" disabled>Completada</button>
	  	<% end -%>
	  </div>

	</div>
</div>


