<% a = @nav.upcase.include? "ANDROID" %>
<% b = @nav.upcase.include? "IPHONE" %>

<div class="container-fuid mt-5 ml-3">
	<div class="row">
		<div class="col-md-3 card mr-4 ml-3">
			<div class="card-body padding">
					<%= form_tag create_task_path, remote: true do %>

						<label>Title</label>
						<%= text_field_tag :title, nil, class: "form form-control" %>
						<br>
						<label>Contenido</label>
						<%= text_area_tag :body, nil, class: "form form-control", :rows => 8 %>

						<div class="col-md-12 no-padding mt-4">
							<%= select_tag 'state', options_for_select(select_state),{:class => 'form form-control'}%>
						</div>

						<div class="modal-footer pr-0">
							<%= submit_tag "Guardar", class: "btn btn-info" %>
						</div>

					<% end -%>

			</div>
		</div>

		<div class="col-md-8 card ">
			<div class="card-body">
				<div class="add_task row">
					<% @tasks.each do |tarea| %>
						<%= render "task", tarea: tarea %>
					<% end -%>
				</div>
			</div>
		</div>

	</div>
</div>



<style type="text/css">
	.padding{
		padding: 5px;
	}

	.no-padding{
		padding: 0px;
	}

	.card-style{
		max-width: 32.33333% !important; 
		padding: 0px;
	}
</style>